.carousel-inner img {
  width: 100%;
  height: 100%; }

.firstSection, .secondSection {
  margin-bottom: 50px; }

.firstSection {
  margin-top: 50px; }

footer {
  background: #484349;
  color: white; }
