$body-bg:#E9EDDE;

@import "node_modules/bootstrap/scss/bootstrap";

body{
    width:100%;
    background-color:  $body-bg;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.firstSection{
    position: relative;
}
a{
    color:black;
}
a:hover{
    color: #0080FF;
}