$carousel :100%;

  
.carousel-inner 
{
  img {
  width: $carousel;
  height: $carousel;
  }
}

%margin-shared{
  margin-bottom: 50px;
}

@mixin firstSecMargin($marginVal) {
  margin-top: $marginVal;
  @extend %margin-shared;
}

.firstSection{
  @include firstSecMargin(50px);
}
.secondSection{
 @extend %margin-shared;
}
footer{
  background: #484349;
  color: white;
}

.add{
  color: red;
}